h1{
	color: white;
	text-align: center;
	padding: 40px;
}
#resume{
	background-color: rgb(101,165,250);
	float: left;
	width: 150px;
	height: 800px;
}
.describe{
	padding-bottom: 10px;
	padding-top: 10px;
}
.main{
	padding-left: 50px;
}